html {
  scroll-behavior: smooth;
}

body {
  background-image: url('../images/background.jpg');
}

.custom-img-card-mini {
  background-color: #000;
  height: 140px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;

  & img {
    min-height: 100%;
    -webkit-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    -ms-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    transition: all 300ms ease;
  }

  &:hover img {
    -moz-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -o-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
  }
}